@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
    background: #FBFBFB;
    font-family: "Montserrat" , sans-serif;
    &.overflowH{
        overflow: hidden;
    }
}

// components
.len.mob_min{
    display: none !important;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ui-popups-link-button{
    font-size: 15px;
    color:#3369F4;
    position: absolute;
    bottom: 50px;
    left: 70px;
    text-decoration: underline;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: .7;
    }
}
.ui-button-3{
    padding-left: 63px;
    padding-right: 63px;
    cursor: pointer;
    color:white;
    font-size: 22px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 16px;
    white-space: nowrap;
    background: #3369F4;
    border-radius: 5px;
    transition: .3s ease-in-out;
    &:hover{
        opacity: .7;
    }
}
.ui-swiper-button-2{
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #3F3F3F;
    transition: .3s ease-in-out;
    &:disabled{
        background: #2C2C2C;
        & path{
            fill:#969696;
        }
        &:hover{
            opacity: 1;
        }
    }
    &:hover{
        opacity: .7;
    }
}
.background_images{
    & > img{
        position: absolute;
        &.bg_2{
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }
}
.popup-more{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    display: none;
    backdrop-filter: blur(10px);
    background: rgba($color: #000000, $alpha: .4);
    & > .wrapper{
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50% , -50%);
        max-width: 891px;
        width: 100%;
        border-radius: 10px;
        background: #E6E6E6;
        & > .close{
            background: transparent;
            border:none;
            position: absolute;
            right: 50px;
            top:50px;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                opacity: .6;
            }
        }
        & > .section_left , .section_right{
            display: none;
            padding: 100px;
            padding-top:0;
            margin-top: 100px;
            height: 100%;
            max-height: 700px;
            overflow: scroll;
            & > h2{
                color:#252525;
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            & > .pre-title{
                font-size: 25px;
                font-weight: 400;
                color:#252525;
                display: block;
                margin-bottom: 50px;
            }
            & > .list{
                & > li{
                    margin-bottom: 40px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    & > .num{
                        display: block;
                        font-size: 40px;
                        font-weight: 700;
                        color:rgba($color: #3369F4, $alpha: .9);
                        margin-bottom: 10px;
                    }
                    & > p{
                        max-width: 438px;
                        font-size: 25px;
                        color:#252525;
                    }
                    
                }
            }
            & > a{
                margin-top: 60px;
                font-size: 22px;
                color:#3369F4;
                display: block;
            }
        }
    }
}
.service-popup{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    backdrop-filter: blur(10px);
    background: rgba($color: #000000, $alpha: .4);
    & > .wrapper{
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50% , -50%);
        max-width: 891px;
        width: 100%;
        border-radius: 10px;
        background: #E6E6E6;
        padding: 100px;
        height: 661px;
        & > .close{
            position: absolute;
            right: 50px;
            top:50px;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: .5;
            }
        }
        & > .block{
            display: none;
            position: relative;
            height: 100%;
            & > h3{
                font-size: 50px;
                color:#252525;
                font-weight: 600;
                margin-bottom: 40px;
            }
            & > p{
                width: 100%;
                max-width: 600px;
                color:#252525;
                font-size: 25px;
                margin-bottom: 50px;
            }
            & > a{
                font-size: 22px;
                color:#3369F4;
                text-decoration: underline;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}
.ui-button-slide{
    width: 78px;
    height: 78px;
    background: #EAEAEA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    & > svg{
        position: relative;
        left: 0;
        transition: .3s ease-in-out;
    }
    &:hover{
        &.left{
            & > svg{
                left: -4px;
            }
        }
        &.right{
            & > svg{
                left: 4px;
            }
        }
        background: #3369F4;
        & path{
            stroke: white;
        }
    }
}
.controlls.mobile_extra{
    display: none !important;
}
.ui-thems-button{
    margin-right: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: .5;
    }
    &.active{
        border:solid .5px #000000;
        border-radius: 50%;
    }
}
.mobile_extra{
    display: none;
}
.ui-button-4{
    background: white;
    border-radius: 5px;
    color:#252525;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border:none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bottom_mobile{
    display: none;
}
.ui-talks{
    width: 291px;
    height: 291px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:solid 1px #252525;
}
.backgrounds_images{
    & > img{
        position: absolute;
        &.bg_1{
            right: 0;
            top:50%;
            transform: translateY(-50%);
        }
    }
}
// template
footer{
    padding-top: 150px;
    padding-bottom: 50px;
    background: #3369F4;
    & > .container{
       & > .footer{
            & > .title{
                font-size: 213px;
                font-weight: 600;
                color:white;
                text-transform: uppercase;
                text-decoration: none;
                & > span{
                    position: relative;
                    &::after{
                        content: "";
                        width: 282px;
                        height: 75px;
                        background: rgba($color: #252525, $alpha: .9);
                        position: absolute;
                        left: -20px;
                        bottom:100px;
                        transform: rotate(-30deg);
                    }
                }
                &:hover{
                    text-decoration: underline;
                }
            }
       }
        & > .header{
            display: grid;
            grid-template-columns: 110px 110px 500px 1fr;
            margin-bottom: 150px;
            grid-gap:150px;
            & > .column{
                display: flex;
                &:last-child{
                    align-items: flex-end;
                }
                flex-direction: column;
                justify-content: space-between;
                & > .mob_min{
                    display: none;
                }
                & > a{
                    font-size: 18px;
                    color:white;
                    text-decoration: none;
                    font-weight: 500;
                }
                & > .social{
                    display: flex;
                    & > li{
                        margin-right: 65px;
                        &:last-child{
                            margin-right: 0;
                        }
                        & > a{
                            text-decoration: none;
                            transition: .3s ease-in-out;
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
                & > h3{
                    font-size: 20px;
                    font-weight: 500;
                    color:white;
                    margin-bottom: 30px;
                }
                & > p{
                    font-size: 20px;
                    color:white;
                    line-height: 1.5;
                    margin-bottom: 0px;
                }
                & > button{
                    max-width: 250px;
                }
                & > .list{
                    & > li{
                        margin-bottom: 25px;
                        & > a{
                            font-size: 18px;
                            color:white;
                            font-weight: 400;
                            text-decoration: none;
                            transition: .3s ease-in-out;
                            &:hover{
                                opacity: .8;
                            }
                        }
                        list-style-type: none;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                & > h2{
                    font-size: 30px;
                    font-weight: 600;
                    color:white;
                }
                & > .len{
                    display: flex;
                    & > a{
                        color: #6D96FF;
                        font-size: 16px;
                        margin-left: 15px;
                        text-decoration: none;
                        transition: .3s ease-in-out;
                        &:hover{
                            opacity: .6;
                        }
                        &.active{
                            color:white;
                            &:hover{
                                opacity: 1;
                            }
                        }
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
header{
    padding-top: 50px;
    padding-bottom: 20px;
    & > .container{
        display: flex;
        justify-content: space-between;
        & > .block{
            display: flex;
            align-items: center;
            & > .burger{
                display: none;
                & > .burger_menu{
                    width: 100%;
                    height: 100vh;
                    right: -400px;
                    max-width: 365px;
                    background: #252525;
                    position: fixed;
                    display: none;
                    top:0;
                    padding: 50px;
                    z-index: 10;
                    transition: .3s ease-in-out;
                    & > .header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 50px;
                        & > .title{
                            font-size: 30px;
                            font-weight: 600;
                            color:white;
                            & > span{
                                color:#3369F4;
                            }
                        }
                        & > button{
                            background: none;
                            border:none;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            &:hover{
                                opacity: .5;
                            }
                        }
                    }
                    & > .list{
                        & > li{
                            margin-bottom: 23px;
                            & > a{
                                font-size: 20px;
                                color:white;
                                text-decoration: none;
                                font-weight: 400;
                            }
                        }
                    }
                    & > .bottom{
                        position: absolute;
                        bottom: 50px;
                        z-index: 10;
                        left: 50px;
                        background: #252525;
                        width: 100%;
                        & .phone{
                            color:#898989;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        & > .thems{
                            margin-bottom: 30px;
                            display: flex;
                            & > button{
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &.active{
                                    border:solid 1px white;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
            & > .tel_link{
                text-decoration: none;
                color:#252525;
                font-size: 20px;
                font-weight: 500;
                margin-right: 50px;
            }
            & > .thems{
                display: flex;
            }
            & > nav{
                & > .list{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & > li{
                        margin-right: 50px;
                        &:last-child{
                            margin-right: 0;
                        }
                        & > a{
                            font-size: 18px;
                            font-weight: 400;
                            color:#252525;
                            transition: .3s ease-in-out;
                            text-decoration: none;
                            &:hover{
                                opacity: .6;
                            }
                        }
                    }
                }
            }
            & > .logo{
                font-size: 30px;
                font-weight: 600;
                & > span{
                    color:#3369F4;
                }
            }
            & > .len{
                margin-left: 50px;
                & > a{
                    margin-right: 15px;
                    font-size: 16px;
                    color:#9D9D9D;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    text-decoration: none;
                    &:hover{
                        opacity: .7;
                    }
                    &.active{
                        cursor: default;
                        &:hover{
                            opacity: 1;
                        }
                        color:#3369F4;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}



@media (max-height:750px) {
    .popup-more>.wrapper .section_right, .popup-more>.wrapper>.section_left{
        max-height: 500px;
    }
}
@media (max-height:500px) {
    .popup-more>.wrapper .section_right, .popup-more>.wrapper>.section_left{
        max-height: 300px;
    }
}
@media (max-width:750px) {
    .service-popup > .wrapper > .block > h3{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .service-popup>.wrapper>.close{
        z-index: 25;
        width: 16px;
        height: 16px;
        top:30px;
        right: 30px;
        & > svg{
            width: 16px;
            height: 16px;
        }
    }
    .service-popup>.wrapper>.block>p{
        font-size: 16px;
    }
    .service-popup>.wrapper>.block>a{
        font-size: 20px;
    }
    .service-popup>.wrapper{
        height: 330px;
    }
    .service-popup>.wrapper{
        padding: 40px;
        width: 90%;
    }
    .popup-more>.wrapper{
        width: 90%;
    }
    .popup-more>.wrapper .section_right, .popup-more>.wrapper>.section_left{
        padding: 40px;
        padding-top: 0;
        margin-top: 40px;
    }
    .popup-more>.wrapper .section_right>h2, .popup-more>.wrapper>.section_left>h2{
        font-size: 20px;
    }
    .popup-more>.wrapper>.close{
        width: 16px;
        height: 16px;
        right: 30px;
        top:30px;
        & > svg{
            width: 16px;
            height: 16px;
        }
    }
    .popup-more>.wrapper .section_right>.pre-title, .popup-more>.wrapper>.section_left>.pre-title{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .popup-more>.wrapper .section_right>.list>li>.num, .popup-more>.wrapper>.section_left>.list>li>.num{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .popup-more>.wrapper .section_right>.list>li>p, .popup-more>.wrapper>.section_left>.list>li>p{
        font-size: 16px;
    }    
    .popup-more>.wrapper .section_right>a, .popup-more>.wrapper>.section_left>a{
        font-size: 20px;
    }
}